/* スタイルを追加 */
h3 {
    font-size: 20px;
}

#stopwatch {
    font-size: 30px;
    padding: 5px 30px 30px 20px;
}

span.colon {
    font-size: 16px;
    font-weight: bold;
}

button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #ccc;
}